@import "bourbon";

$default-font: "lato", sans-serif;
$icon-font:    "FontAwesome";
$title-font:   "Robotoslab", sans-serif;

// Colors

$b-price:   #323232;
$b-price-l: #434343;
$b-slider:  #3c3c3c;

$red:       #f0626e;
$blue:      #05aecc;
$b-blue:    #00a1be;
$grey:      #f6f6f6;
$violet:    #412f53;
$blur:      #0a1434;


// MIXIN

// Classic clearfix
@mixin cf {
	&::after {
		content:"";
		display: table;
		clear: both;
	}
}

// inline block
@mixin inlineblock ($valine: top) {
	display: inline-block;
	vertical-align: $valine;
}

//responsive (rem)
@function rem($px) {
  @return $px / 16px + 0rem;
}
